.mobileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eaeaea;

  @media (min-width: 1024px) {
    display: none;
  }
}

.mobileHeader .loginContainer {
  color: #006aff;
}

.logo {
  width: 120px;
  height: 25px;
}
